{% extends 'base.html.twig' %}

{% block body %}

    <h1><i class="bi bi-trash"></i> {{ websiteName }} Integration - openHAB</h1>

    tbd.

    <figure>
        <img src="/images/openhab-binding.png" class="img-thumbnail rounded" alt="openHAB HTTP Binding" width="300"/>
        <figcaption>HTTP Binding in openHAB installieren</figcaption>
    </figure>
{% endblock %}
